<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Rock Scissors Paper</title>
    <meta charset='utf-8'>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js' defer></script>
    <link rel='stylesheet' href='css/foundation.min.css'>
    <link rel='stylesheet' href='css/p1.css'>
    <script src='script.js' defer></script>
    <style>
        [v-clock] {
            display: none
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="row">
            <div class="small-5 columns text-center">
                <img :src="userChoiceImg" alt="" class="text-center">
                <h1 class="text-center"><strong>You</strong></h1>
            </div>
            <div class="small-2 columns text-center">
                <h1 style="font-size:100px;"><strong>{{ count }}</strong></h1>
            </div>
            <div class="small-5 columns text-center">
                <img :src="comChoiceImg" alt="" class="text-center">
                <h1 class="text-center"><strong>Computer</strong></h1>
            </div>
        </div>

        <div class='row'>
            <div class='small-6 columns text-center'>
                <div class='battle-wrap'>
                    <img v-for='life in lifeOfUser' src='./images/heart.png' class='heart' alt=''>

                </div>
            </div>
            <div class='small-6 columns text-center'>
                <div class='battle-wrap'>
                    <img v-for='life in lifeOfCom' src='./images/heart.png' class='heart' alt=''>
                </div>
            </div>

            <div class='row'>
                <div class='small-6 columns text-center'>
                    <div class='row'>
                        <div class='small-8 small-offset-2 columns text-center'>
                            <label v-for="select in selects" class="radio-label">
                                <input type="radio" v-model="userChoice" :value="select.value"> {{ select.name }}
                            </label>

                        </div>
                    </div>
                    <div class='row'>
                        <div class='small-12 columns'>
                            <div class='text-center' v-if='isClickable'>
                                <button class='start-btn' @click='startGame()'>Selected!</button>
                            </div>
                            <div v-else class='loading'>Waiting...</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class='row'>
                <div class='small-12 columns log'>
                    <ul>
                        <li :class="{'win-log': log.winner === 'user', 'defeat-log': log.winner === 'com', 'draw-log': log.winner === 'draw'}"
                            v-for='log in logs'>{{ log.message }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>